.login-bg {
  background-image: url('../images/bg3.jpg'); 
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
  position: relative;
}

.login-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3); /* lớp mờ đen 40% */
  z-index: 0;
}

.login-card {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  border-radius: 25px;
  width: 100%;
  max-width: 400px;
  padding: 2.5rem 2rem;
  color: #fff;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

/* Tiêu đề */
.login-card h3 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  font-size: 1.8rem;
  text-align: center;
  color: black;
}

.login-card p {
  font-size: 0.95rem;
  color: rgba(255,255,255,0.7);
  margin-bottom: 2rem;
  text-align: center;
}

/* Input */
.transparent-input {
  width: 100%;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 0.7rem 1rem;
  color: #fff;
  font-size: 0.95rem;
  transition: all 0.3s ease;
}

.transparent-input:focus {
  outline: none;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.transparent-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* Button  */
.gradient-btn {
  width: 100%;
  background: linear-gradient(90deg, #667eea, #764ba2);
  border: none;
  border-radius: 15px;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.7rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.gradient-btn:hover {
  filter: brightness(1.15);
  transform: translateY(-2px);
}

/* Link đăng ký */
.login-card a {
  color: #f4f4f3;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.login-card a:hover {
  color: #10a7f9;
  text-decoration: underline;
}

/* Responsive nhỏ */
@media (max-width: 480px) {
  .login-card {
    padding: 2rem 1.5rem;
  }
}