.custom-table {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(106, 90, 205, 0.25); 
}

.custom-table thead tr {
  background-color: #edeaff !important; 
}

.custom-table tbody tr:hover {
  background-color: #f0eaff; 
  transition: 0.2s ease-in-out;
}

.user-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.badge-student {
  background-color: #4ea1ff !important; /* xanh dương */
  color: white !important;
}

.badge-teacher {
  background-color: #6a5acd !important; /* tím */
  color: white !important;
}

.badge-admin {
  background-color: #e03e3e !important; /* đỏ */
  color: white !important;
}
.btn-purple {
  background-color: #6a5acd !important;  
  border-color: #6a5acd !important;
  color: white !important;
  font-weight: 500;
}

.btn-purple:hover {
  background-color: #5948c7 !important;  
  border-color: #5948c7 !important;
  color: #fff !important;
}
