.profile-card {
  max-width: 600px;
  border-radius: 15px;
  overflow: hidden;
}

.profile-avatar {
    width: 180px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px; 
    border: 3px solid white;
}


.profile-header {
  position: relative;
}

.profile-card .card-body {
  background: #f8f9fa;
}
